<div class="content">
   <section class="section" style="z-index: 1000;">
    <div class="color-bgr color-bg"></div>
        <div class="parent">
            <div class="col-5 col-lg-12">
                <img src="{{url}}/img/img-mobile.jpg" class="" alt="my picture" />
            </div>
            <div class="col-7 col-lg-12 hi-there">
                <h6 class="">hi there !</h6>
                <h1 class="color-text"><span>I'm</span> steve milner</h1>
                <p>I'm a Tunisian based web designer & front‑end developer focused on crafting clean & user‑friendly experiences, I am passionate about building excellent software that improves the lives of those around me.</p>
                <a href="about.html" class="btn color-bg color-hover">more about me</a>
            </div>
        </div>
    </div>
</section>

</div>
<script src="{{url}}/js/color.js" ></script>

<script src="{{url}}/js/jquery-3.6.0.min.js"></script>
<script src="{{url}}/js/switcher.js"></script>