
<section class="title-section">
    <h1>ABOUT <span class="color-text">ME</span></h1>
    <span class="title-bg">Resume</span>
</section>

<section class="main-content">
    <div class="container">
        <div class="parent">
            <div class="col-6 col-lg-12">
                <div class="parent">
                    <div class="col-12">
                        <h3 class="personal-info">personal infos</h3>
                    </div>
                    <div class="img-mobile">
                        <img src="img/img-mobile.jpg" class="img-fluid main-img-mobile" alt="my picture" />
                    </div>
                    <div class="col-6">
                        <ul class="about-list">
                            <li> <span class="title">first name :</span> <span class="value">Steve</span> </li>
                            <li> <span class="title">last name :</span> <span class="value">Milner</span> </li>
                            <li> <span class="title">Age :</span> <span class="value">27 Years</span> </li>
                            <li> <span class="title">Nationality :</span> <span class="value">Tunisian</span> </li>
                            <li> <span class="title">Freelance :</span> <span class="value">Available</span> </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="about-list">
                            <li> <span class="title">Address :</span> <span class="value">Tunis</span> </li>
                            <li> <span class="title">phone :</span> <span class="value">+21621184010</span> </li>
                            <li> <span class="title">Email :</span> <span class="value">you@mail.com</span> </li>
                            <li> <span class="title">Skype :</span> <span class="value">steve.milner</span> </li>
                            <li> <span class="title">langages :</span> <span class="value">French, English</span> </li>
                        </ul>
                    </div>
                    <div class="col-12">
                        <a href="about.html" class="btn btn-download color-bg">Download CV</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-12">
                <div class="parent">
                    <div class="col-6 col-sm-12">
                        <div class="box-stats">
                            <h3 class="color-text">12</h3>
                            <p class="">years of <span class="">experience</span></p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-12">
                        <div class="box-stats">
                            <h3 class="color-text">97</h3>
                            <p class="">completed <span class="">projects</span></p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-12">
                        <div class="box-stats">
                            <h3 class="color-text">81</h3>
                            <p class="">Happy <span class="">customers</span></p>
                        </div>
                    </div>
                    <div class="col-6 col-sm-12">
                        <div class="box-stats">
                            <h3 class="color-text">53</h3>
                            <p class="">awards <span class="">won</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <!--  -->
        <div class="parent skills">
            <div class="col-12">
                <h3 class="my-skills">My Skills</h3>
            </div>
            <div class="col-3 col-md-6">
                <div class="skill">
                    <div class="number">75%</div>
                    <div class="bar"></div>
                    <div class="bar-rotate"></div>
                    <div class="bar-circle"></div>
                </div>
                <h6 class="">HTML</h6>
            </div>
            <div class="col-3 col-md-6">
                <div class="skill">
                    <div class="number">78%</div>
                    <div class="bar"></div>
                    <div class="bar-rotate"></div>
                    <div class="bar-circle"></div>
                </div>
                <h6 class="">CSS</h6>
            </div>
            <div class="col-3 col-md-6">
                <div class="skill">
                    <div class="number">65%</div>
                    <div class="bar"></div>
                    <div class="bar-rotate"></div>
                    <div class="bar-circle"></div>
                </div>
                <h6 class="">Bootstrap</h6>
            </div>
            <div class="col-3 col-md-6">
                <div class="skill">
                    <div class="number">70%</div>
                    <div class="bar"></div>
                    <div class="bar-rotate"></div>
                    <div class="bar-circle"></div>
                </div>
                <h6 class="">JavaScript</h6>
            </div>
            <div class="col-3 col-md-6">
                <div class="skill">
                    <div class="number">80%</div>
                    <div class="bar"></div>
                    <div class="bar-rotate"></div>
                    <div class="bar-circle"></div>
                </div>
                <h6 class="">React</h6>
            </div>
            <div class="col-3 col-md-6">
                <div class="skill">
                    <div class="number">75%</div>
                    <div class="bar"></div>
                    <div class="bar-rotate"></div>
                    <div class="bar-circle"></div>
                </div>
                <h6 class="">Node.js</h6>
            </div>
            <div class="col-3 col-md-6">
                <div class="skill">
                    <div class="number">55%</div>
                    <div class="bar"></div>
                    <div class="bar-rotate"></div>
                    <div class="bar-circle"></div>
                </div>
                <h6 class="">Express.js</h6>
            </div>
            <div class="col-3 col-md-6">
                <div class="skill">
                    <div class="number">60%</div>
                    <div class="bar"></div>
                    <div class="bar-rotate"></div>
                    <div class="bar-circle"></div>
                </div>
                <h6 class="">MongoDB</h6>
            </div>
        </div>
        <!--  -->

        <hr>

        <div class="parent">
            <div class="col-12">
                <h3 class="experience">Experience <span>&</span> Education</h3>
            </div>
            <div class="col-6 col-lg-12">
                <div class="resume-box">
                    <ul>
                        <li>
                            <div class="icon color-bg">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="graduation-cap" class="svg-inline--fa fa-graduation-cap fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M622.34 153.2L343.4 67.5c-15.2-4.67-31.6-4.67-46.79 0L17.66 153.2c-23.54 7.23-23.54 38.36 0 45.59l48.63 14.94c-10.67 13.19-17.23 29.28-17.88 46.9C38.78 266.15 32 276.11 32 288c0 10.78 5.68 19.85 13.86 25.65L20.33 428.53C18.11 438.52 25.71 448 35.94 448h56.11c10.24 0 17.84-9.48 15.62-19.47L82.14 313.65C90.32 307.85 96 298.78 96 288c0-11.57-6.47-21.25-15.66-26.87.76-15.02 8.44-28.3 20.69-36.72L296.6 284.5c9.06 2.78 26.44 6.25 46.79 0l278.95-85.7c23.55-7.24 23.55-38.36 0-45.6zM352.79 315.09c-28.53 8.76-52.84 3.92-65.59 0l-145.02-44.55L128 384c0 35.35 85.96 64 192 64s192-28.65 192-64l-14.18-113.47-145.03 44.56z"></path></svg>
                            </div>
                            <span class="time">2018 - Present</span>
                            <h5>Web Developer <span class="place">Envato</span></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur tempor incididunt ut labore adipisicing elit, </p>
                        </li>
                        <li>
                            <div class="icon color-bg">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="graduation-cap" class="svg-inline--fa fa-graduation-cap fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M622.34 153.2L343.4 67.5c-15.2-4.67-31.6-4.67-46.79 0L17.66 153.2c-23.54 7.23-23.54 38.36 0 45.59l48.63 14.94c-10.67 13.19-17.23 29.28-17.88 46.9C38.78 266.15 32 276.11 32 288c0 10.78 5.68 19.85 13.86 25.65L20.33 428.53C18.11 438.52 25.71 448 35.94 448h56.11c10.24 0 17.84-9.48 15.62-19.47L82.14 313.65C90.32 307.85 96 298.78 96 288c0-11.57-6.47-21.25-15.66-26.87.76-15.02 8.44-28.3 20.69-36.72L296.6 284.5c9.06 2.78 26.44 6.25 46.79 0l278.95-85.7c23.55-7.24 23.55-38.36 0-45.6zM352.79 315.09c-28.53 8.76-52.84 3.92-65.59 0l-145.02-44.55L128 384c0 35.35 85.96 64 192 64s192-28.65 192-64l-14.18-113.47-145.03 44.56z"></path></svg>
                            </div>
                            <span class="time">2013 - 2018</span>
                            <h5 class="">UI/UX Designer <span class="place">Themeforest</span></h5>
                            <p class="">Lorem incididunt dolor sit amet, consectetur eiusmod dunt doldunt dol elit, tempor incididunt</p>
                        </li>
                        <li>
                            <div class="icon color-bg">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="graduation-cap" class="svg-inline--fa fa-graduation-cap fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M622.34 153.2L343.4 67.5c-15.2-4.67-31.6-4.67-46.79 0L17.66 153.2c-23.54 7.23-23.54 38.36 0 45.59l48.63 14.94c-10.67 13.19-17.23 29.28-17.88 46.9C38.78 266.15 32 276.11 32 288c0 10.78 5.68 19.85 13.86 25.65L20.33 428.53C18.11 438.52 25.71 448 35.94 448h56.11c10.24 0 17.84-9.48 15.62-19.47L82.14 313.65C90.32 307.85 96 298.78 96 288c0-11.57-6.47-21.25-15.66-26.87.76-15.02 8.44-28.3 20.69-36.72L296.6 284.5c9.06 2.78 26.44 6.25 46.79 0l278.95-85.7c23.55-7.24 23.55-38.36 0-45.6zM352.79 315.09c-28.53 8.76-52.84 3.92-65.59 0l-145.02-44.55L128 384c0 35.35 85.96 64 192 64s192-28.65 192-64l-14.18-113.47-145.03 44.56z"></path></svg>
                            </div>
                            <span class="time">2005 - 2013</span>
                            <h5 class="">Consultant <span class="place">Videohive</span></h5>
                            <p class="">Lorem ipsum dolor sit amet, tempor incididunt ut laboreconsectetur elit, sed do eiusmod tempor duntt</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-lg-12">
                <div class="resume-box">
                    <ul>
                        <li>
                            <div class="icon color-bg">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="briefcase" class="svg-inline--fa fa-briefcase fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M320 336c0 8.84-7.16 16-16 16h-96c-8.84 0-16-7.16-16-16v-48H0v144c0 25.6 22.4 48 48 48h416c25.6 0 48-22.4 48-48V288H320v48zm144-208h-80V80c0-25.6-22.4-48-48-48H176c-25.6 0-48 22.4-48 48v48H48c-25.6 0-48 22.4-48 48v80h512v-80c0-25.6-22.4-48-48-48zm-144 0H192V96h128v32z"></path></svg>
                            </div>
                            <span class="time">2015</span>
                            <h5 class="">Engineering Degree <span class="place">Oxford University</span></h5>
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt ut labore</p>
                        </li>
                        <li>
                            <div class="icon color-bg">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="briefcase" class="svg-inline--fa fa-briefcase fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M320 336c0 8.84-7.16 16-16 16h-96c-8.84 0-16-7.16-16-16v-48H0v144c0 25.6 22.4 48 48 48h416c25.6 0 48-22.4 48-48V288H320v48zm144-208h-80V80c0-25.6-22.4-48-48-48H176c-25.6 0-48 22.4-48 48v48H48c-25.6 0-48 22.4-48 48v80h512v-80c0-25.6-22.4-48-48-48zm-144 0H192V96h128v32z"></path></svg>
                            </div>
                            <span class="time">2012</span>
                            <h5 class="">Master Degree <span class="place">Kiev University</span></h5>
                            <p class="">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut adipisicing</p>
                        </li>
                        <li>
                            <div class="icon color-bg">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="briefcase" class="svg-inline--fa fa-briefcase fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M320 336c0 8.84-7.16 16-16 16h-96c-8.84 0-16-7.16-16-16v-48H0v144c0 25.6 22.4 48 48 48h416c25.6 0 48-22.4 48-48V288H320v48zm144-208h-80V80c0-25.6-22.4-48-48-48H176c-25.6 0-48 22.4-48 48v48H48c-25.6 0-48 22.4-48 48v80h512v-80c0-25.6-22.4-48-48-48zm-144 0H192V96h128v32z"></path></svg>
                            </div>
                            <span class="time">2009</span>
                            <h5 class="">Bachelor Degree <span class="place">Tunis High School</span></h5>
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="js/color.js" ></script>
<script src="js/skills.js"></script>

<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/switcher.js"></script>